<tr th:each="userCurrency : ${userCurrencies}" th:fragment="content" class="currency">
    <td th:text="${userCurrency.currency.getCode()}"></td>
    <td>
        <input type="text" th:value="${#numbers.formatDecimal(userCurrency.amount, 1, 2)}" th:data-currency-code="${userCurrency.currency.code}" name="amount" class="amount">
    </td>
    <td>
        <a href="#" class="action-link action-link-up" th:data-currency-code="${userCurrency.currency.code}">
            <i class="bi bi-arrow-up"></i>
        </a>
        <a href="#" class="action-link action-link-down" th:data-currency-code="${userCurrency.currency.code}">
            <i class="bi bi-arrow-down"></i>
        </a>
        <a href="#" class="action-link action-link-remove" th:data-currency-code="${userCurrency.currency.code}">
            <i class="bi bi-x"></i>
        </a>
    </td>
</tr>