<tr th:each="userCurrency : ${userCurrencies}" th:fragment="content">
    <td th:text="${userCurrency.currency.getCode()}"></td>
    <td>
        <form th:action="@{/my/amounts}" style="displa:inline-block" method="post">
            <input type="hidden" name="currencyCode" th:value="${userCurrency.currency.code}">
            <input type="text" th:value="${#numbers.formatDecimal(userCurrency.amount, 1, 2)}" name="amount">
            <input type="submit" value="Update">
        </form>
    </td>
    <td>
        <form th:action="@{/my/move-up}" style="display:inline-block" method="post">
            <input type="hidden" name="currencyCode" th:value="${userCurrency.currency.code}">
            <input type="submit" value="Up">
        </form>
        <form th:action="@{/my/move-down}" style="display:inline-block" method="post">
            <input type="hidden" name="currencyCode" th:value="${userCurrency.currency.code}">
            <input type="submit" value="Down">
        </form>
        <form th:action="@{/my/remove}" style="display:inline-block" method="post">
            <input type="hidden" name="currencyCode" th:value="${userCurrency.currency.code}">
            <input type="submit" value="Remove">
        </form>
    </td>
</tr>