<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
<div layout:fragment="content">
    <h1>My Currencies</h1>

    <table>
    <tr>
        <th>Currency</th>
        <th>Amount</th>
        <th></th>
    </tr>
    <tr th:replace="~{/my/amounts :: content}"></tr>
    </table>

    <a th:href="@{/login/signout}">Logout</a>
</div>
</body>
</html>