<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
<div layout:fragment="content">
    <div class="m-auto">
        <h1>My Currencies</h1>

        <table>
        <tr>
            <th>Currency</th>
            <th>Amount</th>
            <th></th>
        </tr>
        <tr th:replace="~{/my/amounts :: content}"></tr>
        </table>

        <form th:action="@{/my/add}" method="post">
            <select name="currencyCode">
                <option th:each="currency : ${currencies}"
                        th:value="${currency.code}"
                        th:text="${currency.code} + ' (' + ${currency.name} + ')'"></option>
            </select>
            <input type="submit" value="Add" />
        </form>

        <a th:href="@{/login/signout}">Logout</a>
    </div>
</div>
</body>
</html>