<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
    <div layout:fragment="content">
        <div class="row justify-content-center m-auto">
            <div class="col-md-6 col-sm-12">
                <div class="py-5 text-center">
                    <h2>Sign Up</h2>
                    <p class="lead">
                        Please fill in the form to sign up
                    </p>
                </div>


                <form th:action="@{/login/signup}" th:object="${signUpForm}" method="post">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstname" class="form-label">First name *</label>
                            <input type="text" th:class="'form-control '+${#fields.hasErrors('firstName') ? 'is-invalid' : ''}" class="form-control" id="firstname" th:field="*{firstName}" placeholder="John" value="" >
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastname" class="form-label">Last name *</label>
                            <input type="text" th:class="'form-control '+${#fields.hasErrors('lastName') ? 'is-invalid' : ''}" id="lastname" th:field="*{lastName}" placeholder="Doe" value="" >
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">E-mail *</label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" th:class="'form-control '+${#fields.hasErrors('email') ? 'is-invalid' : ''}" id="email" th:field="*{email}" placeholder="john.doe@example.com">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="password" class="form-label">Password *</label>
                            <input type="password" th:class="'form-control '+${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="password" th:field="*{password}" placeholder="Create a password" value="" >
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="repeat-password" class="form-label">Repeat password *</label>
                            <input type="password" th:class="'form-control '+${#fields.hasErrors('repeatPassword') ? 'is-invalid' : ''}" id="repeat-password" th:field="*{repeatPassword}" placeholder="Repeat a password" value="">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></div>
                        </div>

                        <div class="col-12">
                            <label for="company-name" class="form-label">Company name</label>
                            <input type="text" th:class="'form-control '+${#fields.hasErrors('companyName') ? 'is-invalid' : ''}" id="company-name" th:field="*{companyName}" placeholder="Example Company" value="">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Create an account</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>