<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
    <div layout:fragment="content">
        <div class="form-signin text-center">
            <form th:action="@{/login/signin}" th:object="${signInForm}" method="post">
                <div class="py-5 text-center">
                    <h2>Sign In</h2>
                    <p class="lead">
                        Please fill in the form to sign in
                    </p>
                </div>

                <p th:each="err : ${#fields.errors('global')}" th:if="${!#fields.hasErrors('email') && !#fields.hasErrors('password')}" th:text="${err}" class="error" />

                <div th:class="'form-floating '+${#fields.hasErrors('email') ? 'is-invalid' : ''}">
                    <input type="email" th:class="'form-control '+${#fields.hasErrors('email') ? 'is-invalid' : ''}" id="email-field" th:field="*{email}" placeholder="name@example.com">
                    <label for="email-field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <label for="email-field" th:if="${!#fields.hasErrors('email')}">Email address</label>
                </div>
                <div th:class="'form-floating '+${#fields.hasErrors('password') ? 'is-invalid' : ''}">
                    <input type="password" th:class="'form-control '+${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="password-field" th:field="*{password}" placeholder="Password">
                    <label for="password-field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <label for="password-field" th:if="${!#fields.hasErrors('password')}">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</body>
</html>